---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---

{% renderTemplate "md" %}
# Hello 👋

My name is Elisiário, I'm an Engineer based in Porto, Portugal.

These are some thoughts on tech, pitfalls, and the occasional rant.

## What I do

- 🛠 Building and maintaining infrastructure at scale
- 🤖 Automating everything I can
- 🌱 Self-hosting new stuff
- 📝 Writing about my experiences here

You can find me on [GitHub](https://github.com/elisiariocouto) or you can reach me at [security@couto.io](mailto:security@couto.io).

🔐 PGP Key: [7BDE4E59](https://couto.io/gpg.txt)

{% endrenderTemplate %}

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
