---js
const eleventyNavigation = {
	key: "🏠 Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---



<img src="https://0.gravatar.com/avatar/2fbc48a3b0df1368d641a254116ceb7e1c6c83a85cdc4965a947826de0bd04c3?size=512" alt="Profile Picture" class="profile-picture">

<h1>Hello 👋</h1>

<p>My name is Elisiário, I'm an Engineer based in Porto, Portugal.</p>
<p>These are some thoughts on tech, pitfalls, and the occasional rant.</p>

<h2>What I'm currently doing</h2>

<ul>
<li>🛠 Building and maintaining infrastructure at scale</li>
<li>🤖 Automating everything I can</li>
<li>🌱 Self-hosting new stuff</li>
<li>📝 Writing about my experiences here</li>
</ul>

<p>
You can find me on <a href="https://github.com/elisiariocouto">GitHub</a>,
<a href="https://www.linkedin.com/in/elisiariocouto/">LinkedIn</a>
or you can reach me at <a href="mailto:hello@couto.io">hello@couto.io</a>.
</p>

<p>🔐 PGP Key: <a href="https://couto.io/gpg.txt">7BDE4E59</a></p>


{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="blog.njk">the archive</a>.</p>
{% endif %}
