---
title: "Photo Gallery"
layout: "layouts/base.njk"
eleventyNavigation:
  key: 📸 Photos
  order: 3
---

<h1>Photo Gallery</h1>

{% imagegrid %}
  {% for photo in photos %}
    {% photoImage photo.src, photo.alt, photo %}
  {% endfor %}
{% endimagegrid %}
